INSTANCE_NAME=artificiallabs
INSTANCE_SECRET=replace-with-a-random-instance-secret
CONVEX_CLOUD_ORIGIN=https://artificiallabs-convex.bebra42.ru
CONVEX_SITE_ORIGIN=https://artificiallabs-convex-site.bebra42.ru
NEXT_PUBLIC_DEPLOYMENT_URL=https://artificiallabs-convex.bebra42.ru
PORT=3220
SITE_PROXY_PORT=3221
DASHBOARD_PORT=6792
CONVEX_BACKEND_IMAGE=ghcr.io/get-convex/convex-backend@sha256:ed7ad78d762042f99dcaaf0d9e3d54394bc9c57f49db9a086022e6812c0fe2e5
CONVEX_DASHBOARD_IMAGE=ghcr.io/get-convex/convex-dashboard@sha256:5130ab98244b8e9900c05603cfce8cf5a806c769af716a512e662545a9332db2
SMS_GATEWAY_SHARED_SECRET=replace-with-a-random-32-byte-secret
MODEM_INCOMING_TARGET=16
SMS_BALANCE_USSD_CODE=*255*0#
